<!-- <section id="wedding-day" class="bg-info"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Ceremony</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Come join us for a day of fun and celebration</dd>
                    <dt>When</dt>
                    <dd>Sept 17th, 2022. Arrive from 2 pm for ceremony @ 2:30 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            <a href="https://www.google.com/maps/dir//swallows+oast/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47
                            df3e4fb461a429:0xe01ddc2604ae0f6f?sa=X&hl=en-GB&ved=2ahUKEwiew6bxuuz3AhUGR8AKHaz4Be8Q9Rd6BA
                            hwEAU">Swallows Oast, Gibbs Reed Farm, Pashley Rd, Ticehurst, Wadhurst TN5 7HE</a>
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>As fancy as you like. We're hoping to hold the ceremony outside on the venue grounds but we have
                        back up options if the weather works against us.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>Venue kicks out at 00:30:
                        <ul>
                            <li><a href="https://timebusterswadhurst.co.uk/">Timebusters Wadhurst Taxi</a>: <strong>07399 162330</strong>
                            <li><a href="https://www.pathfinderprivatehire.co.uk/">Path finder private hire</a>: <strong>07938 806897</strong>
                            <li><a href="https://www.google.com/search?q=taxi+Ticehurst+east+sussex&tbm=lcl&ei=arOGYtfz
                            E9T1gQbPppKwAw&oq=taxi+Ticehurst+east+sussex&gs_l=psy-ab.3..0i512k1.10424.10424.0.10705.1.1.
                            0.0.0.0.66.66.1.1.0....0...1c.1.64.psy-ab..0.1.66....0.KD3MmOpiyZU#rlfi=hd:;si:;mv:[[51.1819
                            342,0.5726641],[50.973069699999996,0.2705229]];tbs:lrf:!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m4!1e17
                            !4m2!17m1!1e2!3sIAE,lf:1,lf_ui:14">Other Taxi firms around the area</a>
                        </ul>
                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at Swallows Oast. Details below. </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="col-lg-12 ">
                    <h2 class="section-heading text-center">Reception</h2>
                    <hr class="primary">
                    <p>
                        Reception guests please arrive from 7:30 pm. We'll have a bar, a band, late night munchies
                        and we're excited to get into it with a full house of friends and loved ones!
                    </p>
                </div>
            </div>
        </div>
    </div>
<!-- </section> -->
