<div class="container">
    <div class="row">
        <div class="text-center"><i class="fa fa-4x fa-gift"></i>
            <br>
            <h3 class="section-heading text-center">Gifts</h3>
            <hr class="light">
            <p>
                Just being part of our day is gift enough so please dont feel any obligation to get us a gift!
            </p>
            <p>
                If you feel strongly that you would like to buy us something we've put together a
                <a href="https://prezola.com/wishlists/10258708/">small list of items</a>, including honeymoon
                contributions. Of course, anything off-list you think might bring us joy in married life would also
                be welcome!
            </p>
        </div>
</div>
