<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Swallows oast</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>
                Our venue is a beautiful, oak beamed oast-house situated at Gibbs Reed Farm, East Sussex.
                The full address and google maps link is
                <a href="https://www.google.com/maps/dir//swallows+oast/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47df3e4fb461a
                429:0xe01ddc2604ae0f6f?sa=X&hl=en-GB&ved=2ahUKEwiew6bxuuz3AhUGR8AKHaz4Be8Q9Rd6BAhwEAU">here</a>.
                To find the venue parking on the day, drive through the gates in the venue picture above and follow
                the road around. There's a car park at the back.
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                We're keen to keep things as easy as possible for all our guests. With that in mind we've hired out a campsite
                adjacent to the venue (5 min walk) for those of you who want to keep it close. You can pitch your own tent
                for £25 or book a glamping tent if you want to live it up a little. There are shower and toilet facilites
                on the campsite - and BBQ space for cooking your breakfast bacon. If you're interested please contact
                the campsite via the details below.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Camp site</th>
                    <td>
                        You can find details of all available facilites on the
                        <a href="https://www.meadowbreezeglamping.com/home">website</a>. To book email
                        meadowbreezeglamping@gmail.com or call 07842565231. We've booked the field for our exclusive use
                        so you'll need to mention that you're part of the wedding party when you book.
                    </td>
                </tr>
                <tr>
                    <th>Hotels</th>
                    <td>
                        If camping's not your speed, there are plenty of
                        <a href="https://www.google.com/maps/search/Hotels/@51.0419272,0.355549,12z/data=!3m1!4b1!4m11!2m10!3m5!2sSwallows+Oast!3s0x47df3e4fb461a429:0xe01ddc2604ae0f6f!4m2!1d0.4258124!2d51.0415927!5m2!5m1!1s2022-09-17!6e3?hl=en-GB">
                        local hotels</a> within a short taxi ride.
                    </td>
                </tr>
                <tr>
                    <th>AirBnBs</th>
                    <td>
                        Equally, there are also plenty of <a href="https://www.airbnb.co.uk/s/Ticehurst--United-Kingdom/homes?adults=2&place_id=ChIJfZDFpU8-30cRM1gXoaNEtnw&refinement_paths%5B%5D=%2Fhomes&checkin=2022-09-17&checkout=2022-09-18&tab_id=home_tab&query=Ticehurst%2C%20United%20Kingdom&flexible_trip_lengths%5B%5D=one_week&ne_lat=51.08536891125052&ne_lng=0.5385351489258312&sw_lat=50.98605787829109&sw_lng=0.3318548510742687&zoom=12&search_by_map=true&search_type=user_map_move">
                        AirBnBs</a> about, too.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
